<div class="posts-container">
    <ul>
    <% @posts.each do |post|%>
        <li class="post bg-grey">
            <a class="text-black underline" href="<%= post_path(post) %>">
                <div class="bg-slate-50 flex flex-col gap-4 rounded p-4">
                    <h2 class="text-black"><%=post.title%></h2>
                    <%= image_tag post.image.url(:big), :class=>"rounded post-image" %>            
                    <p class="text-slate-500"><%=post.body%></p>
                    <div class="flex items-center gap-2">
                    <%= image_tag post.user.avatar.url(:thumb), :class=>"rounded-full small-avatar" %>
                    <p class=" text-black"><%= post.user.username %></p>
                    </div>
                </div>
            </a>
        </li>

    <%end%>
    </ul>
    <div class="bg-white width-auto add-post">
       <%= link_to "Добавить пост", new_post_path, :class=>"add-post-btn" %>
    </div>
</div>

