<h1 class="text-3xl font-bold underline">Feed</h1>

<div class="posts-container">
    <ul>
    <% @posts.each do |post|%>
        <li class="post bg-grey">
            <div class="bg-slate-50 rounded p-4">
                <h2 class="text-black"><%=post.title%></h2>
                <div class="rounded">
                    <%= image_tag post.image.url (:thumb) %>            
                </div> 
                <p class="text-slate-500"><%=post.body%></p>
                <div class="flex items-center gap-2">
                <%= image_tag post.user.avatar.url(:thumb), :class=>"rounded-full w-14" %>
                <p class=" text-black">Автор: <%= post.user.username %></p>
                </div>
                <a class="text-black underline" href="<%= post_path(post) %>">View</a>
            </div>
        </li>

    <%end%>
    </ul>
    <div class="bg-white width-auto">
       <%= link_to "New Post", new_post_path %>
    </div>
</div>

