<h1 class="text-3xl font-bold underline">Feed</h1>

<div>
    <ul>
    <% @posts.each do |post|%>
        <li class="post bg-grey">
            <div class="bg-slate-50 rounded p-4">
                <h2 class="text-black"><%=post.title%></h2>
                <p class="text-slate-500"><%=post.body%></p>
                <a class="text-black underline" href="<%= post_path(post) %>">View</a>
            </div>
        </li>

    <%end%>
    </ul>
    <div class="bg-white width-auto">
       <%= link_to "New Post", new_post_path %>
    </div>
</div>

<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>