
<div class="bg-slate-50 rounded p-4">
  <h2 class="text-black"><%= @post.title %></h2>
    <%= image_tag @post.image.url (:medium) %>
  <p class="text-black"><%= @post.body %></p>
  <p class="text-black">Автор: <%= @post.user.username %></p>
<hr>

<% if current_user == @post.user || current_user.role == 'admin' %>
  <ul>
      <li class="underline"><%= link_to "Edit post", edit_post_path(@post) %></li>
      <li class="underline"><%= link_to "Delete post", post_path(@post), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      } %></li>
  </ul>
<% end %>
<hr>
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Username:</strong>
    <%= comment.username %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<hr>
<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

</div>