<!DOCTYPE html>
<html>
  <head>
    <title>Foto4ka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex justify-center w-full">
      <header id="header" class="flex items-center h-28">
        <a href=<%= root_path %>>
          <%= image_tag "LogoSample_ByTailorBrands.jpg"%>
        </a>
        <%= link_to "Главная", root_path %>
        <% if user_signed_in? %>
          <span id="greeting">Здравствуйте, <%= current_user.username %></span>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        <% end %>
      </header>
      <div id="content" class="container flex flex-col justify-center mx-auto  pb-20">
        <%= yield %>
      </div>
      <footer class="self-end">
        <a href=<%= root_path %>>
          2022 Foto4ka
        </a>
      </footer>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
