<!DOCTYPE html>
<html>
  <head>
    <title>Foto4ka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
   
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex justify-center w-full">
      <header id="header" class="flex items-center h-28">
        <a href=<%= root_path %>>
          <%= image_tag "LogoSample_ByTailorBrands.jpg"%>
        </a>
        <%= link_to "Главная", root_path %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      </header>
      <div id="content" class="container flex flex-col justify-center mx-auto  py-20">
        <%= yield %>
      </div>
      <footer>
        <a href=<%= root_path %>>
          2022 Foto4ka
        </a>
      </footer>
    </main>
  </body>
</html>
